<header>
    <nav class="header-nav">  
        {{!-- <h4>Julien Palliere</h4> --}}
        
        <a href='/' class="nav-opt" id="nav-opt1">
            <img src="../../img/house.png" height="30px"width = "30px">
            <div id="nav-stuff1">Home</div> 
        </a> 
         
        <a href='/projects' class="nav-opt" id="nav-opt2">
            <img src="../../img/headphones.png" height="30px"width = "30px" > 
            <div id="nav-stuff2">Projects</div>
        </a>
        <a href='/about' class="nav-opt" id="nav-opt3">
            <img src="../../img/avatar.png" height="30px"width = "30px" > 
            <div id="nav-stuff3">About</div>
        </a>
       
    </nav>
</header>