
<header>
    <nav class="header-nav">  
        {{!-- <h4>Julien Palliere</h4> --}}
        
        <a href='/' class="nav-opt">
            <span class="header-nav-link-hover"></span>
            Home
        </a> 
         
        <a href='/projects' class="nav-opt">
            <span class="header-nav-link-hover"></span>
            Projects
        </a>
        <a href='/about' class="nav-opt">
            <span class="header-nav-link-hover"></span>
            About Me
        </a>
       
    </nav>
</header>