<!DOCTYPE html>
<html> 
    <head>
        <link rel="stylesheet" href="/css/idea2/header.css"> 
        <link rel="stylesheet" href="/css/idea2/footer.css">
        <link rel="stylesheet" href="/css/idea2/credit_page.css"> 
        <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Monoton|Barriecito|Long+Cang|Old+Standard+TT|Permanent+Marker|Playfair+Display|Saira+Stencil+One|Satisfy|Source+Code+Pro|Vollkorn&display=swap" rel="stylesheet">
    </head>
    <body> 
        <a href="/" id="back"> back to main</a> 
        <h1> art is never made in a vacuum so I wanna say <span>thanks!!!</span> <img src="../../img/ghost.png" width="60px" height = "60px"> </h1>
        <h2 id="maker">1. website was designed/coded by Rebecca Salganik</h2> 
        
        <ul id="icons"> <h2> 2. icons were made by the following artists</h2>
        <li> Headphones: <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> 
            
            </li> 
        <li> Avatar: <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> 
             
            </li>
        <li> Home: <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> 
            
            </li>
        <li> Ghost: <a href="https://www.flaticon.com/authors/darius-dan" title="Darius Dan">Darius Dan</a> 
            </li>

        <li> Soundcloud: <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> 
            </li>
        <li> Instagram: <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> 
            </li>
        <li> Video game: <a href="https://www.flaticon.com/authors/mynamepong" title="mynamepong">mynamepong</a>  
         </li>

        </ul>
        <ul id="photos"> <h2>3. photography by the following artists</h2>
        <li> Home page: <a href="https://unsplash.com/@nomadicjulien">Nomadic Julien</a></li>
        <li> About page: <a href="https://unsplash.com/@kennyzhang29">Zhang Kenny</a></li>
        <li> Project page: <a href="https://unsplash.com/@daoud_absml">Daoud Abismail</a></li>
        <li> This page: <a href="https://unsplash.com/@struvictoryart">Victoria Strukovskaya</a></li>
        </ul>

        {{!-- <div>
    Icons made by 
    <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> 
    from <a href="https://www.flaticon.com/"title="Flaticon">www.flaticon.com</a> 
    is licensed by 
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>

<div>
    Icons made by 
    <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> 
    from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>

<div>
    Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> 
    from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> 
    is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div> --}}

    </body>
</html>
