<!DOCTYPE html>
<head>
{{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> --}}

<link href="https://fonts.googleapis.com/css?family=Beth+Ellen|Long+Cang|Teko&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/idea2/start.css"> 

</head>
<body>
    <div id="CV" class="container cont-outer">
        {{>header}}
        <div class="container">
            {{!-- <div> <h2>Julien Palliere</h2></div> --}}
            <div id="education"> 
                <h2>Julien Palliere</h2>
                <a href="#">Click here to download more detailed pdf version</a>     
            </div>
            <div id="experience"> 
                <h3>Work Experience</h3>
                <ul> IRCAM
                    <li> Research Intern (Paris, France)</li>
                    <li> Assistant for Annie Dorsen, Sharjah Art Foundation commission.</li>
                </ul>
                <ul> Gramophone Media
                    <li>Songwriter (NYC, USA)</li>
                    <li>Producing titles and backtracks for signed artists</li>
                </ul>
                <ul> Tyler Bates, Abattoir Studios
                    <li>Production Intern (LA, USA)</li> 
                </ul>
                <ul> IMAX 
                    <li> Mastering Intern (Toronto, Canada) </li>
                </ul>
            </div>
            
            
            <div id="awards"> 
                <h3>Games</h3>
                <a href="https://julmusic.itch.io">julmusic.itch.io </a>
                <h3>Awards</h3>
                <ul> 
                    <li> IRCAM: IRC Forum Interview soundtrack</li>
                    <li> Cy and Helene Cooper Prize</li>
                    <li> Best Soundtrack (Largo Film Awards): A Day to Live (dir. Ruby Foster)</li>
                    <li> Kris Getz Composition Award</li>
                </ul>
            </div> 
            {{!-- <div id="games">
                <ul>
                    <li>Game 1: L</li>
                    <li>Game 2</li>
                    <li>Game 3</li>
                </ul>
            </div> --}}
            
    </div>
</body> 
<script src="/js/gif.js"> </script>
</html> 