<!DOCTYPE html>
<head>

<link rel="stylesheet" href="/css/idea2/header.css"> 
<link rel="stylesheet" href="/css/idea2/footer.css"> 
<link rel="stylesheet" href="/css/idea2/extra.css">
<link href="https://fonts.googleapis.com/css?family=Barriecito|Long+Cang|Old+Standard+TT|Permanent+Marker|Playfair+Display|Saira+Stencil+One|Satisfy|Source+Code+Pro|Vollkorn&display=swap" rel="stylesheet">
    
</head> 
<body> 
    <h1> Jesus, STOP CLICKING ON THINGS! </h1>
    <footer> <a href="/" id="back"> back to main</a> </footer>
</body>