<!DOCTYPE html>
<head>
{{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> --}}

<link href="https://fonts.googleapis.com/css?family=Barriecito|Long+Cang|Old+Standard+TT|Permanent+Marker|Playfair+Display|Saira+Stencil+One|Satisfy|Source+Code+Pro|Vollkorn&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/idea2/project_page.css">
<link rel="stylesheet" href="/css/idea2/footer.css">
{{!-- <link rel="stylesheet" href="/css/idea2/header.css">   --}}

</head>
<body>
        {{>header2}}
        <div id="offset"> Julien Palliere </div>
        <div id="audio" class="container">
            <ul> <span>Video Game Work</span>
                <li id="snd1btn">Reel</li>
                <li id="snd2btn">Snow Blind </li>
                <li id="snd3btn">Into the Alien </li>
            </ul>
            <ul> <span>Production Work</span> 
                <li id="snd4btn">Hold Me Close</li>
                <li id="snd5btn">Walk </li>
            </ul>

            <div id="musBoxOuter">
                {{!-- box is here --}}
                <div id="musBox"> </div>
                <span id="projName"></span>
            </div>
        </div>

        
        {{!-- <div id = "video">
            <h1> Sound Snips</h1>
            <button id="vid1btn">Project 1</button>
            <button id="vid2btn">Project 2</button>
            <button id="vid3btn">Project 3</button>
            <div id="vidBox"> 

            </div>
        </div> --}}

            {{!-- <div id="sound1">
                <audio controls >
                    <source src="horse.ogg" type="audio/ogg">
                    <source src="horse.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>

            </div>
            
            <div id="sound2">
                <audio controls>
                    <source src="horse.ogg" type="audio/ogg">
                    <source src="horse.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            
            <div id="sound3">
                <audio controls>
                    <source src="horse.ogg" type="audio/ogg">
                    <source src="horse.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div> --}}
        
        
            {{!-- <div class="clips">
                <div id= "clip1">
                    <a href="#"id="p1">Box 1: Project description</a>
                    <div id="im1">
                    <img src="../../img/Game1.gif" > 
                    </div> 
                </div>
                <div id= "clip2">
                    <a href = "# "id="p2">Box 2: Project description</a>
                    <div id="im2">
                    <iframe src="https://giphy.com/embed/YqcmxPjN2NwDgqQkEI" width="100%" height ="100%"></iframe>
                    </div> 
                </div>
                 <div id= "clip3">
                    <a href="https://giphy.com/gifs/Jms2tWBnQyiO7g6Q1j" id="p3">Box 3: Project description</a>
                    <div id="im3">
                    <iframe src="https://giphy.com/embed/Jms2tWBnQyiO7g6Q1j"> </iframe>
                    </div> 
                </div> 
            </div> --}}
            {{>footer}}
</body> 
{{!-- <script src="/js/gif.js"> </script> --}}
<script src="/js/load_projects.js"> </script> 
<script src="/js/header.js"></script>
</html> 