<!DOCTYPE html>
<head>
{{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> --}}

{{!-- <link href="https://fonts.googleapis.com/css?family=Beth+Ellen|Long+Cang|Teko&display=swap" rel="stylesheet"> --}}
<link rel="stylesheet" href="/css/idea2/about_page.css"> 
<link rel="stylesheet" href="/css/idea2/header.css"> 
<link rel="stylesheet" href="/css/idea2/footer.css"> 
<link href="https://fonts.googleapis.com/css?family=Barriecito|Long+Cang|Old+Standard+TT|Permanent+Marker|Playfair+Display|Saira+Stencil+One|Satisfy|Source+Code+Pro|Vollkorn&display=swap" rel="stylesheet">
</head>
<body>
    <div id="about" class="container">
        {{>header2}}
        <div id="about-box1"> 
                <h4> a bit about me... </h4>
                <h2> producer, film, and videogame composer. French-American from S.E. Asia</h2>
        </div>
        <div id="about-box2">
            <span>Mail:
            <a href="#" id="email">jjpalliere@yahoo.com</a> </span>

            {{!-- <span>Phone:
            <a href="#" id="phone">+1 617-786-9934</a> </span> --}}
            <div id="socials">
                Socials:<br>
                <a href="https://soundcloud.com/julmusic-1" target="blank" id="soundcloud">
                    <img src="../../img/soundcloud.png" height="40px" width ="40px">
                Soundcloud </a> //
                <a href="https://julmusic.itch.io" id="itch" target="blank">
                    <img src="../../img/joystick.png" height="40px" width="40px"> 
                    Itch</a> // 
                <a href="#" id="insta">
                    <img src="../../img/instagram.png" height="40px" width = "40px"> 
                    Instagram</a>
            </div>
        </div> 
        {{!-- <a href="#" id="pdf"> *Click here to download a full pdf of my latest work</a> --}}
    </div>
    
    {{>footer}}
</body> 
{{!-- <script src="/js/gif.js"> </script> --}}
<script src="/js/header.js"> </script>
</html> 